.dashboard-content-area {
    min-height:500px !important;
}
.dashboard-bar {
    height:578px;
}
.board-panel-menu {
    height:100%;
}
.input-group-addon:first-child {
   border-right:1px solid;
}
.input-group-addon i {
    color: #00aeef;
}
